# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!/settings.gradle

!/1.14
!/1.15
!/1.2.5

/*/build
/*/run