# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
