name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [17-jdk, 21-jdk]
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - run: ./gradlew build publishToMavenLocal --stacktrace --warning-mode fail
      - uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/

  client_test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '17'
      - name: Run Auto test Client
        uses: modmuss50/xvfb-action@v1
        with:
          run: ./gradlew :minecraft:minecraft-test:runProductionAutoTestClient --stacktrace --warning-mode=fail
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Client Test Screenshots
          path: minecraft/minecraft-test/run/screenshots